<div class="container my-2 rounded border border-2 border-dark"
    style="background-color: white;">
    <div class="border p-5">

        <h1 class="my-1 mx-2" style="color: red;">
            <%= blog.Title %>
        </h1>
        <div class="px-5 py-2">
            <!-- adding temporary image links for now-->
            <img style="width: 45%;height: 30%;" class="mx-5"
                src="https://source.unsplash.com/200x180/?$<%=blog.category%>"
                alt="">
        </div>
        <p>
            <%=blog.Body %>
        </p>
        <p><strong>category:</strong>
            <%=blog.category%>
        </p>
        <p><strong>created:</strong>
            <%=blog.date%>
        </p>
    </div>
</div>